<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Application Programming Interface

Estimated time needed: **15** minutes

## Objectives

After completing this lab you will be able to:

*   Create and Use APIs in Python

### Introduction

An API lets two pieces of software talk to each other. Just like a function,  you don’t have to know how the API works only its inputs and outputs.  An essential type of API is a REST API that allows you to access resources via the internet. In this lab, we will review the Pandas Library  in the context of an API, we will also review a basic REST API

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="https://#ref0">Pandas is an API</a></li>
<li><a href="https://#ref1">REST APIs Basics  </a></li>
<li><a href="https://#ref2">Quiz on Tuples</a></li>

</div>

<hr>

In [1]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

Collecting pycoingecko
  Downloading https://files.pythonhosted.org/packages/82/6f/9e9d1d72a3082dffc891a67cc78c950d43b62fe8fda4d53091ff56c6b127/pycoingecko-2.2.0-py3-none-any.whl
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pycoingecko) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->pycoingecko) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->pycoingecko) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->pycoingecko) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->pycoingecko) (4.0.0)
Installing collected packages: pycoingecko
Successfully installed pycoingecko-2.2.0
Requirement already satisfied: plotly in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (5.1.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from plotly) (8.0.1)
Collecting mplfinance
  Downloading https://files.pythonhosted.org/packages/3f/4e/a3de915df8d112579beb3df22e47b3929670b10e9c5dfd4a2b31bf1a34a7/mplfinance-0.12.7a17-py3-none-any.whl (62kB)
     |████████████████████████████████| 71kB 23.6MB/s eta 0:00:01
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from mplfinance) (1.1.5)
Requirement already satisfied: matplotlib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from mplfinance) (3.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas->mplfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas->mplfinance) (2021.1)
Requirement already satisfied: numpy>=1.15.4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas->mplfinance) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib->mplfinance) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib->mplfinance) (8.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from matplotlib->mplfinance) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/cycler-0.10.0-py3.6.egg (from matplotlib->mplfinance) (0.10.0)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas->mplfinance) (1.15.0)
Installing collected packages: mplfinance
Successfully installed mplfinance-0.12.7a17

<h2 id="PandasAPI">Pandas is an API </h2>

Pandas is actually set of software components , much of  which is not even written in Python.

In [2]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

You create a dictionary, this is just data.

In [3]:
dict_={'a':[11,21,31],'b':[12,22,32]}

In [4]:
dict_.keys()

dict_keys(['a', 'b'])

When you create a Pandas object with the Dataframe constructor in API lingo, this is an "instance". The data in the dictionary is passed along to the pandas API. You then use the dataframe to communicate with the API.

In [5]:
df=pd.DataFrame(dict_)
type(df)
df

    a   b
0  11  12
1  21  22
2  31  32

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width = 800, align = "center" alt="logistic regression block diagram" />

When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe.

In [6]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

When you call the method mean,the API will calculate the mean and return the value.

In [7]:
df.mean()

a    21.0
b    22.0
dtype: float64

<h2 id="ref1">REST APIs</h2>

Rest API’s function by sending a request,  the request is communicated via HTTP message. The HTTP message usually contains a JSON file. This contains instructions for what operation we would like the service or resource to perform. In a similar manner, API returns a response, via an HTTP message, this response is usually contained within a JSON.

In cryptocurrency a popular method to display the movements of the price of a currency.

![Example Candlestick Graph](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/candlestick.png)

Here is a description of the candle sticks.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/explanation.png" alt="Candle Stick Definition" width="800" height="600">

In this lab, we will be using the <a href=https://www.coingecko.com/en/api?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>CoinGecko API</a> to create one of these candlestick graphs for Bitcoin. We will use the API to get the price data for 30 days with 24 observation per day, 1 per hour. We will find the max, min, open, and close price per day meaning we will have 30 candlesticks and use that to generate the candlestick graph. Although we are using the CoinGecko API we will use a Python client/wrapper for the API called <a href=https://github.com/man-c/pycoingecko?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01>PyCoinGecko</a>. PyCoinGecko will make performing the requests easy and it will deal with the enpoint targeting.

Lets start off by getting the data we need. Using the <code>get_coin_market_chart_by_id(id, vs_currency, days)</code>. <code>id</code> is the name of the coin you want, <code>vs_currency</code> is the currency you want the price in, and <code>days</code> is how many days back from today you want.

In [8]:
cg = CoinGeckoAPI()

bitcoin_data = cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30)

In [9]:
type(bitcoin_data)

dict

In [10]:
bitcoin_data.keys()

dict_keys(['prices', 'market_caps', 'total_volumes'])

The response we get is in the form of a JSON which includes the price, market caps, and total volumes along with timestamps for each observation. We are focused on the prices so we will select that data.

In [11]:
bitcoin_price_data = bitcoin_data['prices']

bitcoin_price_data[0:5]

[[1627455695343, 39377.92807162509],
 [1627459274336, 39927.007254017924],
 [1627462925798, 39512.86456257924],
 [1627466425737, 39830.67723351484],
 [1627470163128, 40192.36235006664]]

Finally lets turn this data into a Pandas DataFrame.

In [12]:
data = pd.DataFrame(bitcoin_price_data, columns=['TimeStamp', 'Price'])

In [26]:
data.head()

       TimeStamp         Price
0  1627405262919  37691.221011
1  1627408890262  37834.076178
2  1627412429132  38001.269200
3  1627416061197  38056.914674
4  1627419784941  38078.878463

In [28]:
data['TimeStamp'].head()

0    1627405262919
1    1627408890262
2    1627412429132
3    1627416061197
4    1627419784941
Name: TimeStamp, dtype: int64

In [ ]:
datetime.date.fromtimestamp(1627405262919/1000)
# datetime is package
# date is a method

Now that we have the DataFrame we will convert the timestamp to datetime and save it as a column called <code>Date</code>. We will map our <code>unix_to_datetime</code> to each timestamp and convert it to a readable datetime.

In [ ]:
# lambda is a anonymous function defined using the lambda keyword.
# any number of arguments but can contain only a single expression, no return, like in def syntax

In [34]:
square = lambda x: x*x

In [35]:
print("Using lambda", square(5))

Using lambda 25

In [38]:
def square_def(x):
    return(x*x)

In [39]:
print("Using def:", square_def(5))

Using def: 25

In [14]:
data['date'] = data['TimeStamp'].apply(lambda d: datetime.date.fromtimestamp(d/1000.0))
# apply is a method, where first input is a function

In [23]:
len(data)

723

In [24]:
len(data.groupby(data.date, as_index=False))

31

In [26]:
data.groupby(data.date, as_index=False).head()

         TimeStamp         Price        date
0    1627455695343  39377.928072  2021-07-28
1    1627459274336  39927.007254  2021-07-28
2    1627462925798  39512.864563  2021-07-28
3    1627466425737  39830.677234  2021-07-28
4    1627470163128  40192.362350  2021-07-28
..             ...           ...         ...
715  1630022466812  47229.070651  2021-08-27
716  1630026017692  47004.534708  2021-08-27
717  1630029616032  47472.219574  2021-08-27
718  1630033266819  47322.012064  2021-08-27
719  1630036837174  46840.062989  2021-08-27

[155 rows x 3 columns]

In [25]:
len(data.groupby(by = ['date']))
# .agg aggregate by rows
# numpy agg functions mean, median, prod, sum, std, var

31

In [28]:
data.groupby(by = 'date').agg(['min', 'max', 'first', 'last'])

                TimeStamp                                               \
                      min            max          first           last
date
2021-07-28  1627455695343  1627513298279  1627455695343  1627513298279
2021-07-29  1627516823553  1627599648897  1627516823553  1627599648897
2021-07-30  1627603285544  1627686035588  1627603285544  1627686035588
2021-07-31  1627689674746  1627772565245  1627689674746  1627772565245
2021-08-01  1627776151813  1627858909419  1627776151813  1627858909419
2021-08-02  1627862538542  1627945311783  1627862538542  1627945311783
2021-08-03  1627948905838  1628031736335  1627948905838  1628031736335
2021-08-04  1628035321344  1628118071816  1628035321344  1628118071816
2021-08-05  1628121605521  1628204525365  1628121605521  1628204525365
2021-08-06  1628208064631  1628290878645  1628208064631  1628290878645
2021-08-07  1628294425322  1628377312030  1628294425322  1628377312030
2021-08-08  1628380800890  1628463630736  1628380800890  1628463630736
2021-08-09  1628467250195  1628550106857  1628467250195  1628550106857
2021-08-10  1628553636759  1628636410933  1628553636759  1628636410933
2021-08-11  1628640116367  1628722894788  1628640116367  1628722894788
2021-08-12  1628726403190  1628809208280  1628726403190  1628809208280
2021-08-13  1628812909701  1628895838293  1628812909701  1628895838293
2021-08-14  1628899271226  1628982084291  1628899271226  1628982084291
2021-08-15  1628985634968  1629068547867  1628985634968  1629068547867
2021-08-16  1629072163775  1629154846718  1629072163775  1629154846718
2021-08-17  1629158450695  1629241251728  1629158450695  1629241251728
2021-08-18  1629244809946  1629327606998  1629244809946  1629327606998
2021-08-19  1629331301632  1629414050080  1629331301632  1629414050080
2021-08-20  1629417643364  1629500454036  1629417643364  1629500454036
2021-08-21  1629504052097  1629586857915  1629504052097  1629586857915
2021-08-22  1629590463260  1629673271547  1629590463260  1629673271547
2021-08-23  1629676830679  1629759679029  1629676830679  1629759679029
2021-08-24  1629763272901  1629846048796  1629763272901  1629846048796
2021-08-25  1629849662415  1629932434547  1629849662415  1629932434547
2021-08-26  1629936072162  1630018899955  1629936072162  1630018899955
2021-08-27  1630022466812  1630047585000  1630022466812  1630047585000

                   Price
                     min           max         first          last
date
2021-07-28  38457.399449  40840.142596  39377.928072  39752.003988
2021-07-29  39476.953676  40616.613873  40031.198244  39838.622125
2021-07-30  38681.764211  41780.304209  39977.756939  41314.594012
2021-07-31  41192.332176  41964.840673  41936.261479  41874.177040
2021-08-01  40302.129545  42628.499544  41699.536641  40302.129545
2021-08-02  38874.343392  40570.458060  39985.182123  39459.971477
2021-08-03  38082.362403  39759.769303  39278.766508  38406.356156
2021-08-04  37729.027675  39877.209001  38175.781923  39653.344554
2021-08-05  37595.746824  40952.350810  39756.280965  40927.234106
2021-08-06  39871.571561  43133.328488  40825.381940  42667.089957
2021-08-07  42813.247737  44114.342504  42813.247737  43979.139208
2021-08-08  43572.946706  45157.582576  44514.605515  44396.813230
2021-08-09  43054.692312  46433.425576  43753.217863  46207.829352
2021-08-10  44815.458641  46311.001899  46311.001899  45507.302998
2021-08-11  45297.280370  46585.940390  45628.136261  45715.175233
2021-08-12  43965.545956  46165.286517  45656.025273  43965.545956
2021-08-13  44495.209793  47582.841978  44495.209793  47582.841978
2021-08-14  46216.667599  47760.112089  47760.112089  46912.547473
2021-08-15  45756.972022  47258.271283  47088.853135  47207.157469
2021-08-16  46009.182126  47862.153467  47025.003230  46244.398243
2021-08-17  44894.867041  46970.338891  45999.283652  44937.305324
2021-08-18  44534.454854  45894.981968  44534.454854  44796.742260
2021-08-19  44213.367801  46741.306632  44790.945808  46560.561559
2021-08-20  46745.034623  49124.360559  46745.034623  49124.360559
2021-08-21  48572.974423  49658.887046  49195.878602  49364.850589
2021-08-22  48377.821512  49253.161690  48867.876579  49117.657045
2021-08-23  49237.272831  50311.818126  49237.272831  49621.937622
2021-08-24  48103.035449  49710.765146  49518.577488  48306.276831
2021-08-25  47250.111254  48995.854650  47804.617643  48876.827164
2021-08-26  46774.496830  49320.143212  48989.512084  47254.510913
2021-08-27  46840.062989  47472.219574  47229.070651  47163.120973

In [29]:
data.groupby(by = 'date').agg({"Price": ['min', 'max', 'first', 'last']})

                   Price
                     min           max         first          last
date
2021-07-28  38457.399449  40840.142596  39377.928072  39752.003988
2021-07-29  39476.953676  40616.613873  40031.198244  39838.622125
2021-07-30  38681.764211  41780.304209  39977.756939  41314.594012
2021-07-31  41192.332176  41964.840673  41936.261479  41874.177040
2021-08-01  40302.129545  42628.499544  41699.536641  40302.129545
2021-08-02  38874.343392  40570.458060  39985.182123  39459.971477
2021-08-03  38082.362403  39759.769303  39278.766508  38406.356156
2021-08-04  37729.027675  39877.209001  38175.781923  39653.344554
2021-08-05  37595.746824  40952.350810  39756.280965  40927.234106
2021-08-06  39871.571561  43133.328488  40825.381940  42667.089957
2021-08-07  42813.247737  44114.342504  42813.247737  43979.139208
2021-08-08  43572.946706  45157.582576  44514.605515  44396.813230
2021-08-09  43054.692312  46433.425576  43753.217863  46207.829352
2021-08-10  44815.458641  46311.001899  46311.001899  45507.302998
2021-08-11  45297.280370  46585.940390  45628.136261  45715.175233
2021-08-12  43965.545956  46165.286517  45656.025273  43965.545956
2021-08-13  44495.209793  47582.841978  44495.209793  47582.841978
2021-08-14  46216.667599  47760.112089  47760.112089  46912.547473
2021-08-15  45756.972022  47258.271283  47088.853135  47207.157469
2021-08-16  46009.182126  47862.153467  47025.003230  46244.398243
2021-08-17  44894.867041  46970.338891  45999.283652  44937.305324
2021-08-18  44534.454854  45894.981968  44534.454854  44796.742260
2021-08-19  44213.367801  46741.306632  44790.945808  46560.561559
2021-08-20  46745.034623  49124.360559  46745.034623  49124.360559
2021-08-21  48572.974423  49658.887046  49195.878602  49364.850589
2021-08-22  48377.821512  49253.161690  48867.876579  49117.657045
2021-08-23  49237.272831  50311.818126  49237.272831  49621.937622
2021-08-24  48103.035449  49710.765146  49518.577488  48306.276831
2021-08-25  47250.111254  48995.854650  47804.617643  48876.827164
2021-08-26  46774.496830  49320.143212  48989.512084  47254.510913
2021-08-27  46840.062989  47472.219574  47229.070651  47163.120973

Using this modified dataset we can now group by the <code>Date</code> and find the min, max, open, and close for the candlesticks.

In [30]:
candlestick_data = data.groupby(data.date, as_index=False).agg({"Price": ['min', 'max', 'first', 'last']})

In [32]:
type(candlestick_data['Price'])

pandas.core.frame.DataFrame

In [33]:
type(candlestick_data)

pandas.core.frame.DataFrame

Finally we are now ready to use plotly to create our Candlestick Chart.

In [ ]:
fig = go.Figure(data=[go.Candlestick(x=candlestick_data['date'],
                open=candlestick_data['Price']['first'], 
                high=candlestick_data['Price']['max'],
                low=candlestick_data['Price']['min'], 
                close=candlestick_data['Price']['last'])
                ])

fig.update_layout(xaxis_rangeslider_visible=False)

fig.show()

## Authors:

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description                 |
| ----------------- | ------- | ------------- | ---------------------------------- |
| 2020-11-23        | 3.0     | Azim Hirjani  | New API                            |
| 2020-09-09        | 2.1     | Malika Singla | Spell Check                        |
| 2020-08-26        | 2.0     | Lavanya       | Moved lab to course repo in GitLab |
|                   |         |               |                                    |

<hr/>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>